<%- include('form-css'); -%>
    <title>CE || Login page</title>
    <link
      rel="icon"
      href="https://user-images.githubusercontent.com/85221003/133185970-6a6edf5b-9020-496e-aea8-4ec464135855.png"
      type="image/x-icon"
    />
  </head>
  <body>
    
    <div class="login-pg">
      <div class="box">
        <%= typ %>
        <img
          src="https://user-images.githubusercontent.com/77490864/133266102-cbf72eee-4807-465a-810c-5887f0028dca.png"
          alt=""
        />

        <form method="POST" action="/login">
          <label for= <%= typ %> ><%= typ %><span style="color: red;">*</span></label><br />
          <input
            type= <%= typ %> 
            id=<%= typ %>
            name=<%= typ %>
            placeholder= <%= typ %>
            required
          /><br /><br />
          <button value=<%= typ %> name="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            LOGIN
        </button>
        </form>        
      </div>
    </div>
   
  </body>
</html>
