<%- include("notice_head") -%>
<body>
    <%- include('navbar') -%>
        <div class="time-table">
            <div class="sem">Notice Board</div>
            <div class="box">
                <% for ( var i=hd.length-1; i>=0; i--) { %>
                    <li class="note">
                        <%= hd[i] %>
                            <div class="h">
                                <%= bd[i] %>
                            </div>
                    </li>
                    <% } %>
            </div>
        </div>
        <%- include('footer'); -%>
</body>

</html>